<div
  th:fragment="authentication-modal-create"
  id="authentication-modal-create"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div
      class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
    >
      <!-- Modal header -->
      <div
        class="flex items-center justify-between border-b border-default pb-4 md:pb-5"
      >
        <h3 class="text-lg font-medium text-heading">Create an account</h3>
        <button
          type="button"
          class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
          data-modal-hide="authentication-modal-create"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18 17.94 6M18 18 6.06 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form action="#" class="pt-4 md:pt-6">
        <div class="mb-4">
          <label
            for="email"
            class="block mb-2.5 text-sm font-medium text-heading"
            >Your email</label
          >
          <input
            type="email"
            id="email"
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
            placeholder="example@company.com"
            required
            autocomplete="email"
          />
        </div>
        <div class="mb-4">
          <label
            for="name"
            class="block mb-2.5 text-sm font-medium text-heading"
            >Your name</label
          >
          <input
            type="text"
            id="name"
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
            placeholder="Your name"
            required
            autocomplete="name"
          />
        </div>
        <div>
          <label
            for="password"
            class="block mb-2.5 text-sm font-medium text-heading"
            >Your password</label
          >
          <input
            type="password"
            id="password"
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
            placeholder="•••••••••"
            required
            autocomplete="current-password"
          />
        </div>
        <div>
          <label
            for="confirm-password"
            class="block mb-2.5 text-sm font-medium text-heading"
            >Your confirm-password</label
          >
          <input
            type="password"
            id="confirm-password"
            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
            placeholder="•••••••••"
            required
            autocomplete="current-password"
          />
        </div>
        <div class="flex items-start my-6">
          <div class="flex items-center">
            <input
              id="checkbox-remember"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
            />
            <label
              for="checkbox-remember"
              class="ms-2 text-sm font-medium text-heading"
              >Remember me</label
            >
          </div>
          <!-- <a
            href="#"
            class="ms-auto text-sm font-medium text-fg-brand hover:underline"
            >Lost Password?</a
          > -->
        </div>
        <button
          type="submit"
          class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full mb-3"
        >
          Create account
        </button>
        <div class="text-sm font-medium text-body">
          Not registered?
          <a
            data-modal-target="authentication-modal"
            data-modal-toggle="authentication-modal"
            data-modal-hide="authentication-modal-create"
            type="button"
            class="text-fg-brand hover:underline"
            >Sign in</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
